{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url 'admin:pool_entry_changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; <a href="{% url 'admin:pool_entry_change' original.pk|admin_urlquote %}">{{ original|truncatewords:"18" }}</a>
&rsaquo; {% translate 'Mark as Eliminated' %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <form action="." method="post">
        {% csrf_token %}
        <div>
            <fieldset class="module aligned">
                <div class="form-row">
                    <div>
                        <h2>Mark "{{ entry.entry_name }}" as Eliminated</h2>
                        <p>Select the week when this entry was eliminated:</p>
                        <select name="week" required>
                            <option value="">---------</option>
                            {% for week in weeks %}
                                <option value="{{ week.id }}">Week {{ week.number }}{% if week.description %} ({{ week.description }}){% endif %}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </fieldset>
            
            <div class="submit-row">
                <input type="submit" value="Mark as Eliminated" class="default" style="background-color: #dc3545;">
                <a href="{% url 'admin:pool_entry_change' original.pk|admin_urlquote %}" class="button" style="background-color: #6c757d;">Cancel</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
