{% extends 'base.html' %}

{% block title %}Password Reset Email Sent - LMS 2025{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h2 class="card-title mb-0">Password Reset Email Sent</h2>
            </div>
            <div class="card-body">
                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
                
                <p>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                
                <div class="d-grid mt-3">
                    <a href="{% url 'login' %}" class="btn btn-primary">Return to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
